.block{
    width: 260px;
    height:270px;
    border: 2px solid black;
    margin: 30px;
    
    
}
.container{
   padding: 40px;
   margin-left: 180px;
    display: flex;
    flex-wrap: wrap;

}
.id{
    width: 30px;
    height: 30px;
    margin-left: 220px;
    border: 2px solid black;
   
    
}
.text{
    text-align: start;
    
}